<h1>Communicating with your Housemate(s)</h1>
	<p>
		We all know that the most important aspect of any relationship is open, honest, non-manipulative communication. It’s easily said,
		but sometimes it’s hard to do. Just with any relationship it’s important to begin your experience as housemates with a strong
		foundation of open communication. Having some basic knowledge of these aspects of communication may help contribute to
		building a successful household.
		Communication includes both verbal and nonverbal messages. The different parts of the message you convey have different levels
		of effectiveness in terms of influencing the listener.

		<ul type="square">
			<li> The words you use - 11% </li>
			<li> Your tone of voice - 32% </li>
			<li> Your body language, facial expression, other non-verbal cues - 57% </li>
		</ul>

		Although you always want to choose your words carefully, how you say them and how you appear when you say them is even more important.

		<ul type="square">
			<li> Understand your own communication style so that you can adapt to the styles of your housemate. </li>
			<li> Actively listen. Non-verbal communication is just as important when you are an active listener as when you are speaking. Your housemate will notice nonverbal cues to whether or not you are interested in the conversation and are paying attention. </li>
			<li> Negative cues may discourage your housemate and block further attempts at communication. </li>
			<li> Give feedback to show that you have been listening actively, but wait until your housemate has finished conveying his/her
			message. </li>
			<li> If your housemate asks you to just listen and is not looking for a response, you should respect those wishes. </li>
		</ul>

		These steps will give you an idea of your listening style as well as showing what improvements could be made. 

		<ol type="1">
			<li> Listen closely to the story without interrupting. </li>
			<li> Once your housemate is finished, repeat the story back to him/her. This doesn’t have to be word for word but should include the main points of the story. </li>
			<li> Have your housemate confirm whether your understanding is accurate. </li>
			<li> Ask questions to learn more details. Be direct, courteous and calm. Spare others your unsolicited advice and acknowledge that what works for you may not work for others. Be sure to state your main points first and then offer details, if necessary. Also listen for hidden clues about feelings and take notice of any nonverbal cues from the other person </li>
		</ol>
	</p>