<h1>Conversation Starters
How to Get to Know Your Housemates (even if you already are friends)</h1>
	<p>
		It really doesn’t matter whether this is your first place or your seventh, whether your lease is for a year or just for the summer.
		Chances are you’re going to be living with housemates, and chances are there will be times when you’ll have disagreements.
		Whether you were roommates or best friends, lived in the same residence hall, were in classes together, or if you’re just meeting for
		the first time, there will times when there’s conflict between housemates. Sometimes these disagreements can be avoided by
		having these five “get to know your housemates” conversations beforehand. These are things you may want to document in a
		<a href="http://www.umocss.org/pdfs/SF%20Housemate%20Agreement.pdf"> Housemate Agreement</a>
	</p>

<h2>Locking Up</h2>
	<p>
		There’s no Residence Hall Security to keep the “bad guys” out of your neighborhood. This is all on you and your housemates. The
		first conversation we recommend you all have is this one. Did anyone tend leave their rooms unlocked in the residence halls when
		they went down the hall to the bathroom? Not a good idea but it’s something we did and nothing bad happened. Does anyone
		leave the door unlocked when they run out to the mailbox? What about if they’re just running next door to the neighbors? Again,
		not something the police would recommend, but again, it’s something we sometimes do. The fact is you’re in a lease with these
		people and most folks will do what they’re going to do. The housemate who’s always getting locked out is probably always going to
		tend to want to leave the door open because they can’t find the keys. There’s not much you can do to change that, but at least have
		the conversation together so you know. You don’t want anyone to get locked out, but you also don’t want anyone’s stuff to get
		stolen. Renters insurance anyone?
	</p>

<h2>Sharing Items</h2>
	<p>
		If it’s in the living room, is it okay for everyone to use? It’s important to decide what items in the household can be used by
		everyone, and what things are not be shared. Are there food items that are okay to share? Will everyone buy their own jar of
		peanut butter or will you take turns buying peanut butter? What about milk or juice, or butter? How will refrigerator space be
		divided? What about the kitchen cupboards? Is there enough space for everyone to have their own cupboard or will you be forced
		to share? What about toiletries? Is it okay to borrow shaving cream or shower gel? And cleaning products? Will you all split the
		cost? Can items be borrowed when their owner is not present? Is there anything that shouldn’t be touched under any
		circumstances? There’s no right or wrong answers. Just some things to consider as you set up your household.
	</p>
<h2>Music, Television and Video Games</h2>
	<p>
		Music. TV. Video games. Most of us use one or all of these forms of media and technology, but, we often use them in different
		ways. Ever missed an episode of Game of Thrones, or How I Met Your Mother because your housemate was hooked up to the TV in
		a six-hour marathon gaming session? Irritating when it happens. Majorly irritating if it happens all the time. What about music?
		One housemate uses headphones, the other one believes that music is best shared with the entire house. One housemate listens to
		country, the other to “techno” and you can’t stand either. These can be sources of disagreement and conflict unless you talk about
		it beforehand.
	</p>

<h2>Sleeping</h2>
	<p>
		Some of you left the residence halls because you wanted to get more regular sleep (among other things). Some of you are moving
		from your family’s home and are living off campus for the first time. Everyone knows that not being able to get enough sleep can
		make a person really grumpy. A grumpy, really tired, “ticked-off” housemate can make everyone’s lives miserable. We recommend
		is to talk to your housemates about sleep. If you’re sharing a bedroom, talk to your roommate too. Who’s got early classes? Who
		works the breakfast shift? What’s a reasonable time you all should expect to go to sleep on weekdays? Is it different on weekends?
		Well of course it is, but talk about it. Does anyone work nights? Do they nap during the day? One other thing to talk about is exams. Everyone handles the pressure of exams/deadlines differently. Will any of you stay up all night? What other things do you
		tend to do during exams that’ll impact sleep (or lack thereof)?
	</p>
<h2>Guest and Visitors</h2>
	<p>
		This last conversation could be the most important. What happens when one of your housemates has a boyfriend or girlfriend
		who’s there all the time? Maybe they finish your milk or maybe the last of your cereal gets eaten, or maybe they take really long
		showers, and doesn’t contribute to the cost of heating the water or buying the food? As unlikely as it may seem now, it’s good to
		have a conversation about “guests”. This is also important if you are someone who likes to have friends over often. Do your
		housemates want to know ahead of time if you’re entertaining guests or having someone over? Do you want to have an agreement
		about days of the week or times (like maybe exam periods) when you really don’t want to have guests in the household? What
		happens if your roommate’s guest breaks something?
	</p>
<h2>More Conversation Starters</h2>
	<p>
		Still need some help getting started? Here’s a list of questions other students have suggested as a way to start the “get to know
		each other” conversation. Maybe they’ll help you.
	</p>
	<ul type="square">
		<li> What name do you like to go by?</li>
		<li> Where are you from?</li>
		<li> Where else have you lived? (When was that? Did you enjoy the experience?)</li>
		<li> How old are you?</li>
		<li> When is your birthday?</li>
		<li> Why did you come to the UMass?</li>
		<li> Where did you transfer from?</li>
		<li> What are you studying?</li>
		<li> What are your favorite things to do?</li>
		<li> What kind of activities were you involved in during high school/college?</li>
		<li> What TV shows or movies do you like to watch?</li>
		<li> What types of books do you enjoy reading?</li>
		<li> What is your family like? Do you have siblings? (How many and how old are they?)</li>
		<li> What types of hobbies or activities do you enjoy?</li>
		<li> What type of music do you like listening to?</li>
		<li> What sports do you play?</li>
		<li> What sports do you like to watch?</li>
		<li> What type of exercise or training regiment do you follow?</li>
		<li> How do you feel about living away from home?</li>
		<li> What kinds of activities do you want to become involved in on campus?</li>
		<li> What kind of neighborhood did you grow up in?</li>
		<li> What are your friends like?</li>
		<li> What, if anything, do you find interesting about religion or spiritual beliefs?</li>
		<li> Is your lifestyle affected by your religion or spiritual beliefs?</li>
		<li> What jobs have you held and where have you worked?</li>
		<li> Have you ever been in the military or traveled?</li>
		<li> What pet peeves do you have?</li>
	</ul> 
