<h1>Housemates Checklist: Establishing Your Household Rules</h1>
<br>
<p>
	Whether you’re just subletting for the summer or looking to move into a new place there are bound to be “issues”. This checklist is designed to help you and your housemate(s) establish guidelines to follow while you are living together. These are the issues that most typically cause conflict between housemates. Discussing your preferences and resolving differences now could potentially help you to avoid conflicts in the future.
	<br><br>
	<ul style = "list-style:none;">
		<b><li>1. Guests/Parties </li></b>
			<ul style = "list-style-type: circle;">
				<li> When is company acceptable? Is it different on weeknights and weekends?</li>
				<li> Will you give each other notice if you’ll be having company or friends over?</li>
				<li> Can your guests stay overnight? What about the rules when a housemate is in a long term relationship?</li>
				<li> Can overnight guests be male and/or female?</li>
				<li> Do you want to be notified in advance if your housemate(s) is entertaining?</li>
				<li> How many friends can you have over at any one time and how often? Is it a party? Double check with your landlord and your town because there are limits on the number of friends you can have over.</li>
				<li> Who will clean up afterwards?</li>
				<li> Are there specific times or days when friends, guests, or parties are not allowed?</li>
			</ul>

		<b><li>2. Food/Shopping/Household Supplies</li></b>
			<ul style = "list-style-type: circle;">
				<li> Will you buy your own food or will all food costs be shared?</li>
				<li> Will you cook individually? Do you want to create a rotating schedule where someone cooks for everyone?</li>
				<li> Is borrowing food acceptable? What foods? How will you handle replacing borrowed food?</li>
				<li> How will the cost of household supplies (such as cleaning supplies, toilet paper, dish detergent, etc.) be divided?</li>
			</ul>

		<b><li>3. Cleanliness/Cleaning Responsibilities</li></b>
			<ul style = "list-style-type: circle;">
				<li> What about doing the dishes? After each meal, at the end of the day, or when all the silverware is gone?</li>
				<li> Who’s’ going to clean the bathroom?</li>
				<li> Who will clean common areas and how often?</li>
				<li> Will you create a schedule defining who cleans what or spend one day each week cleaning together?</li>
				<li> Be sure to take into account tasks such as sweeping/vacuuming, emptying the trash, dusting, tidying up the room(s), cleaning the kitchen, bathroom, etc.</li>
			</ul>		
		<b><li>4. Community/Personal Property</li></b>
			<ul style = "list-style-type: circle;">
				<li> Can you borrow or use items such as the stereo, television, a hairdryer or curling iron, clothing, and computer? Do you prefer to be asked before borrowing?</li>
				<li> Can your housemates go into your bedroom to get personal items when you’re not there? </li>
				<li> How will the use of community items (refrigerator, shared furniture or appliances, etc.) be divided between housemates?</li>
			</ul>
		<b><li>5. Study Hours/Sleeping</li></b>
			<ul style = "list-style-type: circle;">
				<li> What hours and days will be set aside for study time?</li>
				<li> Can you play low background music?</li>
				<li> What time do you expect to be able to go to sleep on weeknights and weekends?</li>
				<li> What time is it reasonable for your place to be quiet during the week? On the weekend?</li>
				<li> Do you expect to be able to nap?</li>
			</ul>
		<b><li>6. Pets</li></b>
			<ul style = "list-style-type: circle;">
				<li> Do you have allergies that would require banning certain types of pets?</li>
				<li> Will pets be allowed in common areas?</li>
				<li> Will all of you be responsible for the care of the pet?</li>
			</ul>
	</ul>
</p>