<h1>Managing Money With Your Housemates</h1>
	<i>(in collaboration with UMass Five College Federal Credit Union)</i>
	<br><br>
	<p>
		Communication with your housemates is vital to prevent late payments, late fees, and a tense living situation. Here are some useful tips that will help you and your housemates manage your shared expenses.

		<ol type="1">
			<li>
				Have a house meeting as soon as you move in. Try to find time to meet at least monthly. You can also talk about things other than the bills; like maintaining shared spaces (kitchen, bathroom, etc.) and sharing other items.
			</li>
			<li>
				Purchase a whiteboard of other “communication hub.” Put it in a common area. Use it to put all your bill amounts and due dates in one place where everyone will see it.
			</li>
			<li>
				Plan ahead. Know what is due when. Bills often seem to be due sooner than you expect so to prevent tension, let everyone know what payments are coming up.
			</li>
			<li>
				Designate a point person. The point person is responsible for ensuring that a particular bill is paid on time and for making sure housemates know about costs and due dates.
			</li>
			<li>
				Communicate terms of a bill. Failing to pay a bill on time can hurt your credit score and result in late fees. When you get your first bill tell your housemates about amounts, due dates, and other terms.
			</li>
			<li>
				Talk openly about variable (amount different month to month) expenses. One housemate may leave windows open while the other is always cold and cranks the thermostat to 75 degrees. By having an honest conversation about preferences, needs, and the amount you can afford to pay, you have a better chance of avoiding conflict, late payments, and unexpectedly large bills.
			</li>
			<li>
				Have a contingency plan. Even if everyone usually pays every bill on time every month, there might be a month were someone is caught short and can’t pay their portion of the bill. Make a plan with your housemates for what you will do if a bill is unexpectedly high	or some other event makes it difficult to get money to pay a bill on time.
			</li>
			<li>
				Compromise is one of the most important tools at your disposal. By meeting regularly	with your housemates and having a plan, you are able to maintain a positive living environment.
			</li>
		</ol>

		Your life as a student will be stressful enough just dealing with classes, work, and all the other life situations that will happen. If you have these conversations with your housemates at the beginning you’ll have a better chance of avoiding adding ‘money troubles’ to your time together. 
	</p>