<h1>Resolving Conflicts with Housemates</h1>
<p>
	Having a conflict with a housemate? Disagreements are inevitable, especially when people live together and interact everyday. Try
	not to be too concerned about confronting your housemate(s) about what’s bothering you. If you made a Housemate Agreement
	when you moved in, pull it out. Look it over. Is there anything in that Agreement that will help you have the conversation? If you
	didn’t do a <a href="http://www.umocss.org/pdfs/SF%20Housemate%20Agreement.pdf"> Housemate Agreement</a>, maybe now’s the time. 
</p>

<h2>Here are 10 Effective Ways to Handle Conflict:</h2>
	<ol type = "1">
		<li>
			Make sure you have enough time to have the conversation. Instead of bringing up the issue as your housemate is walking out the door for class,
			find a time when you can both sit down and talk about the conflict.
		</li>
		<li>
			Remember that you and your housemate(s) are entitled to the same right to be heard in the discussion. It may help to pick a neutral location to
			meet to discuss the conflict.
		</li>
		<li>
			Enter into the discussion without the desire to “win.” Resolving a conflict with your housemate requires that you find a workable solution, not
			one where one person “wins.”
		</li>
		<li>
			Try to take a step back and view the situation from the perspective of your housemate(s), and ask them to do the same. Understanding the
			problem from each other’s perspectives will help find an agreeable solution.
		</li>
		<li>
			Talk about actions that a person can change rather than aspects of your housemate’s personality. Personal attacks make it harder to effectively
			communicate with your housemate(s) about the issues at hand.
		</li>
		<li>
			If you have more than one housemate, it’s important that you avoid teaming up with one housemate against another. It’s going to be important
			for all of you to work together to resolve the situation. Teaming up against one housemate will only make it harder to find a workable solution.
		</li>
		<li>
			Take into account any cultural differences that could be adding to the situation. If your housemate comes from a different background, it may
			be that your differing customs and values are affecting the situation and the way you each handle conflict. Try and keep the lines of
			communication open and find ways that you and your housemate(s) can feel comfortable discussing these differences.
		</li>
		<li>
			Make the decision to remain calm and patient while working out a solution. If the discussion escalates into an argument, it may be best to stop
			and cool off. It may to take a break and come back to the discussion later on.
		</li>
		<li>
			If your housemate(s) begin fighting unfairly, it is up to you to get the conversation back on the right track. It is best to set a positive tone from
			the start and maintain it throughout the conversation.
		</li>
		<li>
			It may be helpful to give your housemate(s) time to think about the situation (at least overnight). Your housemates(s) may then be able to
			better discuss his/her perception of the conflict, which will lead to a more satisfactory solution.
		</li>
	</ol>