<h1>Talking To Roommates About Money</h1>
	<p>
		Talking about financial issues with a roommate can be tricky, but if you communicate openly and politely about bills, rent, and other money-related concerns, you'll set your entire house up for success.
	</p>	

<h2>What You'll Learn</h2>
<p>
	A roommate "contract" can help you avoid financial fights (seriously!).
	How to avoid letting your emotions get in the way.
	Why you should be open to your roommate's side of the story.
	<br>
	There's a lot to figure out when sharing a home with one or more people—who gets the bigger room, whose turn is it to sweep the living room, what color to paint the kitchen.
	<br>
	Open communication among housemates is essential to successful shared living, but it's perhaps most important when it comes to financial issues. Talking about money can be awkward and even emotional, so here are a few ways to help those conversations go smoothly.
</p>

<h2>Work Out A System</h2>
<p>
	When you move into a new living situation, you don't want to assume that financial problems will sort themselves out. If you wait until an issue presents itself to figure out a solution, you may end up with a bigger mess—especially if you and your roommate disagree on how to deal with these concerns.
	<br>
	Save yourself the trouble by agreeing on a contract of sorts at the start. In this agreement, explicitly lay out how you will split bills (electric, cable, gas), rent, and other communal expenses—like cleaning supplies and toilet paper. You can even decide if there are any additional things you want to share (like groceries) and how you'll split the cost.
	<iframe width="560" height="315" src="https://www.youtube.com/embed/mzBxDcLdW0I?list=UU9xCkqX6xlUWIkOe4Ti8LEg" frameborder="0"  align="right" allowfullscreen></iframe>
	<br>
	Approach this conversation with a friendly but professional attitude. Treating it as a business interaction will help you be upfront, polite, and honest about your needs and your concerns. Also, like a business interaction, put everything you decide into writing. This may feel too formal (or too much like Sheldon's roommate agreement on The Big Bang Theory), but you'll be happy to have something to refer to in the future if you need to.
</p>

<h2>Avoid The Heat Of The Moment</h2>
<p>
	If you find out that your roommate forgot to pay the gas bill or encounter some other problem, you might feel the impulse to confront them immediately. Unfortunately, emotions can get the better of us at times like this, leading to heated and less constructive conversations.
	<br>
	Sure, the desire to get to the bottom of the problem right now will be strong. But it's better to wait until you've calmed down. Not only are you more likely to make a compelling argument, but also your roommate won't feel attacked.
</p>

<h2>Prepare Yourself</h2>
<p>
	Another benefit of putting off the conversation until you're more collected? You'll get a chance to prepare your point and anticipate your roommate's reaction, so you're less likely to be caught off guard.
	<br>
	Go through what you'll say one or two times on your own before the actual talk, and imagine what your roommate might say in response. You won't be able to predict exactly how the conversation will go, but preparing will help you stay calm and keep the conversation on track.
	<br>
	That being said, remember this: Even if you feel your roommate's behavior is outrageous, he or she has a side of the story as well. You'll both be better able to agree on a solution if you both feel like your voice was heard, so give your roommate a chance to present his or her case. The argument might not persuade you, but giving everyone a chance to speak can help prevent your talk from getting out of control.
	<br>
	Unless the situation is truly out-of-hand—like your roommate refusing to pay the rent—it's generally a bad idea to resort to threats. Even if you could evict your roommate or get your landlord to do the same, those should be last-ditch options. Using them to get your roommate to concede to your point could backfire and shut down the conversation for good, creating more trouble for you. But if you do encounter more serious problems, like if you believe your roommate is stealing from you, report them to the proper authorities.
</p>

<h2>The Prosecution Rests … In The Room Next To Yours</h2>
<p>
	If your roommate comes to you with a problem and you don't have time to prepare, ask politely if you could discuss the matter later and schedule a time then and there. If your roommate is insistent, keep calm as you listen to their concerns and state your own case. Let him or her finish what they have to say before jumping in—no one likes to be interrupted. Hopefully once they let off some steam, you can have a reasonable and straightforward talk.
	<br>
	It's important to remind yourself that the outcomes of these conversations might not be exactly what you were hoping for—you might have to wait longer for a check or cover a late fee. Living with roommates is, in the end, about compromise. Don't forget that a successful compromise is still better than getting evicted.
</p>
Source: <a href="https://www.saltmoney.org/content/media/Article/talking-to-roommates-about-money/_/R-101-2224?Endeca_user_segments=undefined">SALT Money</a>