<html>
  <head>
    <title>Moving In</title>
    <div id = "printable">
    <!-- fixes having header, footer, and slideshow in print friendly page -->	
	    <div id = "printOnly">
	    <!-- creates content that will only be seen on the printable version of the page -->	
	    	<h1><b><u> UMass Off Campus Student Services </h1></b></u>
	    </div>
	<h1>Moving In</h1>
	Provided by the Student Legal Services Office
  </head>
  <body>
  		<br>
		<br>
	<div id = "printAndEmail">
	   	<li>
	   		<img src="http://www.umocss.org/Library/images/print_icon_small.gif">&nbsp;<a href="javascript:window.print()">Printer-friendly version</a>
	   	</li>
	    <li>
	    	<img src="http://www.umocss.org/Library/images/mail_icon_small.gif">&nbsp;<a href="mailto:?subject=UMass Off Campus Student Services - FAQs&body= Click this link or copy and paste it into your web browser to view the UMOCSS FAQs: http://www.umocssdev.org/movingIn. %0D%0A%0D%0A If this email pop up is unfamiliar to you and you prefer to use Yahoo, Gmail, Hotmail, AOL, %0D%0A%0D%0A
			1) Copy the address link (URL) you see above %0D%0A
			2) Login to your email account %0D%0A
			3) Paste the link into a new compose message. %0D%0A %0D%0A

			Otherwise, delete these instructions and send the email." class="page-tool email">Send by email</a>
		</li>
	</div>
		<br>
		If your questions are not answered by this summary, you can get further information by looking at Legal Tactics: Tenants’ Rights in Massachusetts at
		<a href = "http://www.masslegalhelp.org/housing/legal-tactics1">http://www.masslegalhelp.org/housing/legal-tactics1</a>. It is very
		well organized and easily accessed. For further help, please call the Student Legal Services Office (SLSO) at 413
		545-1995 for free legal advice for UMass students.
		<br>
		<br>
		Moving in can be a stressful time, and it may be hard to remember everything you need to think about. Here
		are some common problems that can arise:
		<br>
		<br>
		<ul>
		<li>
			<u>The place is really dirty when you arrive.</u> <b>TAKE PICTURES.</b> Call the landlord right away and inform
			him/her that you can’t move in with the apartment in the condition it is in. Ask him/her to send
			someone over immediately to clean. If s/he won’t do that, depending on the nature of the dirty
			conditions, you can let the landlord know that you will clean it yourself and expect to be reimbursed for
			your time and supplies, or that you can’t stay there and you expect him to find you a place to stay.
		</li>
		<br>
		<li>
			<u>The previous tenants left some or all their belongings.</u><b> TAKE PICTURES.</b> Call the landlord right away
			and inform him/her that there are things that were left and s/he needs to send someone over right
			away to haul it all out. If s/he won’t do that, depending on the nature of the things that were left, you
			can let the landlord know that you will haul it away yourself and expect to be reimbursed for your time
			and expenses.
		</li>
		<br>
		<li>
			<u>There is damage already done in the apartment.</u><b> TAKE PICTURES.</b> At the beginning of your tenancy,
			the landlord must give you a document called a Statement of Condition that describes the damages in
			the apartment at the beginning of the tenancy. You have a right to add your own descriptions of the
			damage, and the photos will back you up. The landlord can’t charge you or your security deposit for
			any damage that was already there when you moved in.
		</li>
		<br>
		<li>
			<u>Everything looks to be in good shape.</u> <b>TAKE PICTURES ANYWAY </b> of the walls, floor and ceiling in each
			room, and hallway then move in and enjoy your new place. Taking pictures is still your best record of
			how things looked when you moved in – and you never know when they might come in handy at the
			end of your tenancy if for instance, something that looked minor when you got there has grown into a
			major issue through no fault of yours.
		</li>
		<br>
		<li>
			Don’t forget that the Student Legal Services Office (413 545-1995) is available to help you navigate the
			beginning of your tenancy if you have any legal issues to talk over.
		</li>
		</ul> 
	</div>
	</body>
</html>
