<h1>STUDENTS RIGHTS ADVOCATE </h1>
Published by: UMass Student Legal Services Office FALL 20 I I
<h2>SECURITY DEPOSITS, A-Z </h2>
<br>
<b>"First Month's Rent, Last Month's Rent, and Security Deposit Required."</b> How often have you seen this phrase in rental advertisements and applications? When you
hand over a security deposit to your landlord, do you know what you are paying for and
what you need to do to get it back? Do you know what your landlord is required to do
with it? Since the security deposit is usually equal to one month's rent, it is a significant
amount to lose, and without knowing your rights, you may risk your landlord keeping the
security deposit when s/he is not entitled to it. Taking a few easy precautions can ensure
that you will get it back with interest.

<h2>WHEN YOU PAY A SECURITY DEPOSIT...</h2>
<b>I. <u>Be sure your landlord deposits it in an escrow account.</u></b>
Your security deposit does not become your landlord's property when you pay it to him
her. The security deposit is <b>your money</b> and the landlord can only hold on to it if s/he
puts it in an interest bearing escrow account and follows other legal requirements.
'Escrow' is a special kind of account that indicates that the landlord is holding someone
else's money. The landlord is required to give you a receipt
within 30 days that provides you with the name of
the bank and the account number where your money is
being kept. If your landlord does not properly deposit
your security deposit, s/he forfeits his/her right to keep
it, and you may be entitled to three times your deposit
back!
2. Fill out a Statement of Condition.
Within ten days of the start of your tenancy, your landlord is required to give you a Statement of Condition, which
is a separate written document listing all of the problems in the apartment when you move in. The landlord is
supposed to make the initial list, but if s/he doesn't, you should make a list yourself. Even ifthe landlord does make
a list, you are entitled to add to it. It is critical to fill this out, so you don't get blamed for damage that exists
in the apartment when you move in! At the end of your tenancy, the landlord can't deduct for any damage that is
.listed on the Statement of Condition, so be sure it is complete. Keep a copy for your records.
3. Take pictures.
Even after filling out a Statement of Condition, it is a good idea to take pictures of each room
( 4 walls, ceiling & floor) before or at the time you move in. These become your best evidence
of the condition of your apartment when you move in. Take a close-up of any damage that
exists. Save your photos!
4. Keep your apartment clean enoui:h.
What is clean enough? It means that you don't let any dirt, grease, stains, or junk accumulate that you will have a
hard time getting rid of later. It is a lot easier to get your security deposit back if you have kept things reasonably
clean as you go. For instance, a spill on a carpet is likely to come clean if you take care of it right away. If it stays in
the rug and you walk over it for the next six months before trying to clean it at the end of your tenancy, you are
much more likely to be dealing with a permanent stain, and a landlord who wants to keep your deposit for new
carpeting.
5. Check your landlord's records.
Your landlord must keep a copy of the Statement of Condition, (as well as records of any damage and/or repairs)
and make the records available to you during normal business hours. Ifthe landlord fails to do that, you are entitled
to the return of your security deposit. You may want to ask to see your records at some point after the first month
or so of tenancy has passed. Take a witness with you. If your landlord doesn't have the records available, make a
note of the date and time you asked to see them, and who was present. Then write your landlord a note describing
your visit and request that s/he return your security deposit plus interest "pursuant to M.G.L. c.186 ยง15B (2)(d)i-iii."
6. Track the interest you are owed.
If your landlord keeps your security deposit for one year or more, s/he must pay you interest on it. Make sure that
you receive the interest either annually or at the end of the tenancy. The interest rates are so low these days that it
doesn't amount to much usually, but it is still due to you.
7. Do a 'walk throuah' with your landlord.
Near the end of your tenancy, ask your landlord to walk through your apartment with you and identify anything that
s/he thinks needs to be cleaned or repaired in order for you to get your security deposit back. Ifs/he identifies
something that is on the Statement of Condition, point that out to him/her. Take notes so that you have a list of
things that the landlord believes are your responsibility.
8. Leave your apartment in at least 'broom clean' condition; take pictures again.
To be most certain of getting your deposit back, leave your apartment spotless. However, the law only requires that
the premises be in 'broom clean' condition, which means the premises need to be empty of your personal property,
swept, and kitchen and baths wiped down. The law says that the landlord can't use your security deposit for dirt or
damage that is 'normal wear and tear' on the unit. If you have lived in your apartment for many years, 'normal wear
and tear' can account for a good deal more than if you only lived there 10 months. When your belongings are out of
the apartment, take pictures again, so you have a record of how you left the place!
9. Make sure you receive the deposit back within 30 days.
When you leave your apartment, be sure to leave your landlord, in writing, your forwarding address and a request
that s/he return your security deposit. A one-sentence note saying "Please return my security deposit to me at (your
forwarding address)" will be a big help if you have to make any claims against your landlord later related to your
security deposit. Mark your calendar for thirty days after the end of your tenancy. If your landlord does not send
you your deposit and/or an accounting of your deposit in that period of time, you will have claims against your
landlord for up to three times your deposit back.
Make sure all deductions are properly documented.
If you do receive your deposit back, with interest, within 30 days, then you have successfully navigated your way
through this aspect of your tenancy and you are finished. If, however, your landlord tries to keep any portion of your
security deposit, pay very close attention to the paperwork you receive. In order to keep any portion of the deposit,
the landlord must:
a. Send you an itemized list of damages;
b. Sign the itemized list of damages "under the pains and penalties of perjury" (those words must appear on the page);
c. Attach actual invoices, estimates, or receipts for the repairs.
If your landlord fails to include any of these things in accounting for your security deposit, then you may be entitled to
three times your security deposit back.
Ifyou are a UMass Amherst student and your landlord does not handle your security deposit correctly, make an
appointment to see Attorney Carol Booth at the Student Legal Services Office at 413-545-1995for
free legal assistance!
