<h1>Locker Rentals</h1>
<p>Lockers are located in the Student Union and the fee is $20 per semester or $30 per academic year. Students must provide their own locks.
<br>
<b>To rent a locker</b>, please come to the Off Campus Student Center. Bring a check payable to UMass Amherst OCSC.
</p>
