<h1>Pay-for-Print in the Center</h1>
	<p>
		Students, faculty, and staff can now pay to print documents in the Off Campus Student Center using their UCard! Our printer supports remote printing, so you can print from your personal computer from any on-campus location when on the campus WI-FI.
		<br>
		Don’t have a laptop? The Off Campus Student Center also has two quick access computer stations for you to use. You can use these computers to print documents. 
		<br>
		Printing is available only in black and white on standard letter paper (8.5 in. x 11 in). Double-sided printing is supported.
		<br>
		Prices are:
		<br>
		<ul>
			<li>$0.05 per single-sided page</li>
			<li>$0.08 per double-sided page</li>
		</ul>
		<a href="http://www.oit.umass.edu/support/printing/faq" target="_blank">More information about printing on campus.</a>
	</p>
	<br>
	<h2>Download and install the Off Campus Student Center Remote Printing Software</h2>
	<p>
		To install the latest version of the remote printing software, you must be logged in as a LOCAL ADMINISTRATOR (or use the RUN AS. command).
		<br>
		<b>Download the software:</b>
		<ul>
			<li><a href="http://umaoitptp2.campus.ads.umass.edu/Uniprint/StudentUnionOCSCRemote_for_Lte.exe">Windows XP / Vista / Windows 7 Systems (32 or 64 bit).</a></li>
			<li><a href="http://umaoitptp2.campus.ads.umass.edu/Uniprint/Mac/Generic_BW_Print_Mac_Client.dmg">MAC Systems (Macintosh 10.5 to 10.7 on PowerPC or Intel processors).</a></li>
		</ul>
		See additional download notes in the right hand panel of this page.
		<br>
		After you've downloaded the software, save the file to your computer and follow the instructions to install the software.
	</p>
	<br>
	<h2>Send Your Print Job to the Off Campus Student Center Printer</h2>
	<p>
		Once you have installed the remote printing software, you can open a file as usual, and then send it to the Off Campus Student Center for printing.
		<br>
		<b>Step 1:</b> In most applications, go to <em>File &gt; Print</em>. A Print window will open.
		<br>
		<em>Note: Using Ctrl+P (Windows) or Cmd+P (Mac) to print will send the file to the default printer on your computer (most likely not an OIT remote printer).</em>
		<br>
		<b>Step 2: </b>In the Print window, select the printer your wish to use:
		<ul>
			<li>Windows, use “BW Printer (Remote)”</li>
			<li>Macintosh, use “BW_Remote_Printer”</li>
		</ul>
		<b>Step 3: </b>The Print Job Details window will open:
		<ul>
			<li>Windows and Macintosh: Enter your <b>OIT Account NetID and password</b> or Guest Card ID for your print job.</li>
		</ul>
		<b>Note: You will need to enter this user name again when you pick up your print job at the Learning Commons Print Release Station.</b>
		<br>
		<b>Step 4:</b> Click <b>Print</b>. Your print job will now be stored in the Off Campus Student Center printing queue for up to <b>ten (10) hours</b>.
	</p>
