<h1>Meet Our Staff</h1>
<table style = "width: 50%">
	<tr>
		<th>
			<img alt="Mary Lenahan" src="assets/images/mlenahan.jpg" style = "width:120px;float:left;"/>
			<br><br>
			<th style="width:2%"></th>
			<h2>
				<b>Mary Lenahan</b><br />
				<i>Graduate Assistant</i>
			</h2>
		</th>
	</tr>
	<p>
		My name is Mary and I am from Cape Cod, MA. During my undergrad, I studied Spanish, Portuguese and International Relations. And for graduate school, I am studying Higher Education.
		<br>
		A few things that I have learned about living off-campus are that you should always pay your rent with a check; cash payments are harder to keep track of. Also, to prevent third-degree burns, buy good quality oven mitts.
	</p>
	<br>
<!-- 	end mary -->
	<tr>
		<th>
			<img alt="Jillian Toce" src="assets/images/jtoce.jpg" style = "float:left;"/>
			<br><br><br>
			<h2>
				<b>Jillian Toce</b><br />
				<i>Graduate Assistant</i>
			</h2>
		</th>
	</tr>
	<p>
		I am originally from South Windsor, Connecticut. In May 2013, I graduated from Merrimack College. I earned a Bachelor of Arts in Communication Arts and Sciences with a concentration in Organizational Communication and two minors in Business Administration and Jewish, Christian, Muslim Relations. I am currently pursuing a master's degree in Higher Education Administration.
		<br>
		The 2014-2015 academic year is my second year as a Graduate Assistant in the Off Campus Student Center. I love working with off campus students and helping them stay connected to the UMass and Amherst communities!
	</p>
	<br>
<!-- 	end jillian -->
	<tr>
		<th>
			<h2>
				<b>Sally Linowski</b><br />
				<i>Assistant Dean</i>
			</h2>
		</th>
	</tr>
	<p>
		Sally grew up on Cape Cod and returns home as often as possible to be near the ocean. She earned a BS in Healthcare Administration from the University of New Hampshire and both a MS and PhD in Public Health from UMass Amherst.
		<br>
		In addition to serving as Center Director, Sally leads strategic initiatives to reduce dangerous drinking in our community and manages community partnerships.
	</p>
	<br>
<!-- 	end sally -->
	<tr>
		<th>
			<h2>
				<b>Thea L. Costine</b><br />
				<i>Off Campus Student Services Manager</i>
			</h2>
		</th>
	</tr>
	<p>
		Thea has the main responsibility for the Off Campus Housing search processes, fairs, and website. She creates educational opportunities, publications, and programs for students, parents, and landlords. She is also a direct liaison to area landlords and town officials.
	</p>
</table>