/*============ Home Page Styling =========== */
.home-wrapper {
  background-color: #eee;
  padding-top: 4%;
  padding-left: 12%;
  margin-left: -5%;
  margin-right: -5%;
}

#whitespace {

  height: 600px;
  background-color: #eee;
  margin-left: -5%;
  margin-right: -5%;
}


.loc_buttons {
  background-color: #eee;
}