<html>
  	<body>
  	<div class="home-wrapper">
    <div class="loc_buttons">
      <div class="row">
        
        <div class="col-md-4">
          <a href="http://owl.oit.umass.edu/partners/umocss/"><img src="assets/images/loc_take.png" alt="Take the Training"></a>
        </div>

        <div class="col-md-4">
          <a href="/verify-loc"><img src="assets/images/loc_verify.png" alt="Verify Loc Training"></a>
        </div>

         <div class="col-md-4">
          <a href="https://owl.oit.umass.edu/owl-c/demo/demologin.cgi?Server=owl-trainingdemo"><img src="assets/images/loc_guest.png" alt="Guest Access"></a>
        </div>
          <br><br><br><br><br><br>
          <h1>Living Off Campus</h1>
          <h2 style = "width:92%">
            The Off Campus Student Center is an on-campus home for off-campus students. The Center is located in room 314 of the Student Union and is staffed by Off Campus Student Life Coordinators, Graduate Assistants, and professional staff. These individuals act as a resource for students who live or plan to live off campus.
            <br><br>

            <center>
              <img src="assets/images/thecenter.jpg" alt="" style = "width:50%" />
              <br><br>

              <img src="assets/images/walkthisway.jpg" alt="" style = "width:50%" />
              <br><br>
            </center>

            Walk This Way encourages students to walk on campus rather than along residential streets as they move to and from the Southwest Residential Area. Many neighbors and students have felt the impact of noise, trash, public urination, and vandalism on weekend evenings.
            <br><br>
            The goal of Walk This Way is to encourage students to change their path away from the neighborhoods to minimize this impact while reminding students who choose to walk in the neighborhoods to be mindful of their noise level.
          </h2>
      </div>
    </div>
  	</div>
	</body>
</html>