<h1>Setting Up Cable and Internet with Comcast (Xfinity)</h1>

<h2>Free Installation</h2>
	<p>
		When you are ready to set up your service with Comcast, you can get free installation by calling your
		local Comcast representative. The local representative for the Amherst area is Travis Page. He can be
		reached at (413) 207-5239. He will set up an appointment to have a Comcast technician install your
		desired services. Calling Travis Page also allows you access to special bundles or deals that you can only
		get through your local representative.
		<ul>
			<li><b>This applies to the following complexes:</b> Brandywine, Colonial Village, Crestview, Griggs
				Apartments, Hawkins Meadow, Mill Hollow, Mill Valley Estates, Perry Apartments, Presidential,
				Puffton Village, Riverside Park Apartments, Rolling Green, South Point, The Boulders,
				Townhouse, 177 N. Pleasant*†
			</li>
		</ul>
	</p>
<br>

<h2>Regular Installation</h2>
	<p>
		If you go directly through the Comcast website <a href = "www.comcast.com">www.comcast.com</a> or you call 1-800-COMCAST, <b>you will
		be charged for installation</b>. Many of the special deals available through your local representative will
		not be available to you.
	</p>
<br><br>

<i>
	* If you live at Alpine Commons or Aspen Chase, the Digital Starter set is included in your rent. It will be
	set up when you arrive. The Digital Starter set includes channels 2 through 80 and high speed internet. If
	you want to upgrade your service to have more channels, On Demand, or high definition, you must
	contact 1-800-COMCAST.
	<br><br>
	† If you live at Rolling Green, your living room has a cable outlet as do some of the bedrooms. If you want
	an outlet installed in a bedroom where one is not currently available, call Travis Page, your local
	Comcast representative at (413) 207-5239. He will coordinate an appointment with the Rolling Green
	office to install the new wiring and the Comcast installers to install the appropriate cable box.
</i> 
