<h1>Housemate Agreement</h1>
<br>
<p>
	This is a legally binding contract among:<br>
	____________________________________, Housemate 1<br>
	____________________________________, Housemate 2<br>
	____________________________________, Housemate 3<br>
	____________________________________, Housemate 4<br>
	who are, or anticipate being, housemates at the premises located at:<br>
	______________________________________________________________________.
</p>
<br>

<h2><b>PURPOSE</b></h2>
	<p>
		1. This agreement is to determine the rights and responsibilities of all those
			dwelling at this property. Its purpose is to bind them all to the responsibilities set forth herein and to the shares of the costs set forth below.
	</p>
<br>

<h2><b>AMENDMENTS & CONSIDERATION AMENDMENTS & CONSIDERATION</b></h2>
	<p>
		2. The input of all parties is to be considered, and any changes to this document
		must be done in a written addendum signed by all parties. Consideration is the
		exchange of promises contained in this agreement and the parties’ agreement
		to live together and share expenses.
	</p>
<br>

<h2><b>PAYMENT OF RENT PAYMENT OF RENT</b></h2>
	<p>
		3. All parties are aware that the property mentioned above has is rented for the
		amount of $__________ per month, with each party paying the agreed sum of
		$__________, which is payable according to the period stated in the lease. If
		housemates are not paying equal amounts of the rent or utilities, their
		proportional shares are set forth in paragraph 15 below.
		<br> 
		4. All parties understand that they are all responsible for the lease obligations, and
		that by law, any one of them may be held responsible for the total bill. The full
		amount of the rent shall be paid to the landlord when due, as well as any late
		fees and all costs related to any legal action having to be taken.
		<br><br>  
		Source: UMOCSS.org
	</p>
<br>

<h2><b>PAYMENT OF UTILITIES PAYMENT OF UTILITIES</b></h2>
	<p>
		5. All parties are aware that they are each responsible for a portion of the shared
		utilities, in addition to the rent amount. These utilities may include electric,
		water, trash removal, basic phone and basic cable as set forth in the lease for the
		premises if any.
		<ul style = "list-style:none;">
			<li>a. All bills are to be paid on a timely basis.</li>
			<li>b. Each housemate is responsible for his/her own long distance bills, as well as
			those of his/her guests, and any special cable bills.</li>
			<li>c. If a shared bill is overdue by more than 30 days, the housemates will decide on
			an alternate means of payment.</li>
			<li>d. Bills shall be put in the name of the following housemate(s):</li>
				<ul style = "list-style:none;">
					<li>Electric:_________________________________________</li>
					<li>Heat: __________________________________________</li>
					<li>Water:__________________________________________</li>
					<li>Cable:__________________________________________</li>
					<li>Internet:________________________________________</li>
					<li>Other ______________: _________________________________</li>
					<li>Other ______________: _________________________________</li>
					<li>Other ______________: _________________________________</li>
				</ul>
		</ul>
	</p>
<br>

<h2><b>EARLY TERMINATION OF LEASE EARLY TERMINATION OF LEASE</b></h2>
	<p>
		6. If any housemate wishes to be released from their portion of the lease:
		<ul style = "list-style:none;">
			<li>a. He/she must obtain the landlord’s permission if so required by the lease, and must give _____ days’ notice to the other housemates, and make all
			reasonable efforts to find an acceptable replacement for their portion of the
			property. Until a new housemate has been accepted and has signed a new
			lease with the landlord and this agreement, however, the initial housemate
			will still be responsible for all rent, utilities, and other charges until the
			vacancy is filled.</li>
			<li>b. Once a new housemate is identified, it is up to the remaining tenants as to
			whether or not the replacement is approved within _____ days. Any refusal to
			accept must be reasonable (i.e. - different sex or a smoker is considered
			reasonable) and acceptance is not to be unreasonably withheld.</li>
			<li>c. All outstanding charges and debts will be settled before the housemate may
			be released from his/her obligations under this agreement.</li>
			<li>d. The departing housemate is responsible for resolving all issues related to
			his/her portion of the security deposit prior to leaving the premises. Each
			tenant’s signature on this Agreement signifies his/her agreement that any
			portion of the security deposit that remains with the landlord after the
			departure of the housemate shall be paid to the remaining housemates unless
			otherwise agreed in writing between the departing tenant and the landlord.</li>
		</ul>
		<br> 
		Source: UMOCSS.org
	</p>
<br>

<h2><b>DOMESTIC RESPONSIBILITIES DOMESTIC RESPONSIBILITIES</b></h2>
	<p>
		7. Housemates will be responsible for their own personal room cleaning and
		laundry.
		<br><br>
		8. The common areas are to be cleaned through a joint effort with responsibilities
		rotating by week:
		a. Kitchen
		b. Bathroom(s)
		c. Common Living Space
		d. Yard and/or Trash Removal
		e. Snow removal
		Other:_________________________ <br>
		 The premises will at all times be kept in compliance with local health and safety
		regulations. The chore rotation shall be as follows: _________________________
		__________________________________________________________________________
		__________________________________________________________________________<br><br> 
		9. Housemates will also be responsible for their own cooking and food, unless
		otherwise agreed upon. All housemates shall pay for basic supplies for the
		apartment, each paying a fair and equal portion.
	</p>
<br>

<h2><b>PETS AND ANIMALS PETS AND ANIMALS</b></h2>
	<p>
		10. There will be no pets in the apartment at any time. Should one housemate or
		their guest bring an animal, that individual will be responsible for all charges
		and penalties incurred as a result of having the pet.
	</p>
<br>

<h2><b>PARTIES AND NOISE PARTIES AND NOISE</b></h2>
	<p>
		11. Parties shall be allowed on weekends, to end at ____ p.m. a.m. (circle one)
		Roommates agree to comply with all relevant laws if they host a party on the
		premises and agree to be responsible for all damages caused by them, their
		guests and invitees and any persons attending the party whether specifically
		invited or not. If the lease or the town in which the premises are located contain
		specific limitations on parties or noise, all housemates agree to comply with such
		by-laws, regulations, or terms. At all times noise levels will be kept within a
		reasonable volume, with no housemate causing noises deemed excessive
		through the playing of stereos, televisions, or instruments louder than necessary
		to hear within the room being played.
	</p>
<br>

<h2><b>STUDY HOURS STUDY HOURS</b></h2>
	<p>
		12. The hours of _____ to _____ Sunday through Thursday are designated as hours
		for studying. At this time, the property should be quiet and free from
		distraction.
		<br><br>
		Source: UMOCSS.org
	</p>
<br>

<h2><b>LEASE</b></h2>
	<p>
		13. If there is a written lease, all housemates acknowledge that they have received
		a copy of the lease for the premises and that they all agree to be bound to its
		terms. Each housemate will comply with all of the lease terms.
	</p>
<br>

<h2><b>CIRCUMSTANCES NOT COVERED BY THIS CONTRACT, ENFORCEMENT</b></h2>
	<p>
		14. Should there be a circumstance encountered by the renters of the property
		which is not covered by this contract or the lease, the housemates will need to
		resolve their disagreement in a mature and fair fashion. If the housemates
		cannot solve the dispute, all parties agree to seek the help of a mediator or an
		alternative resolution agency. The cost of such alternative dispute resolution
		(ADR) will also be equally divided between all parties. All parties agree to not
		resort to emotional, verbal or physical violence and attacks, harassment, and
		intimidation in order to resolve the conflict. If ADR is not successful in reaching
		an agreement after a minimum of three sessions, then the conflict may be
		resolved through court process; jurisdiction will be in Massachusetts in the
		county where the premises are located.
	</p>
<br>

<h2><b>PROPORTIONAL SHARES PROPORTIONAL SHARES</b></h2>
	<p>
		15. If the housemates are not paying equal shares o 15. f the rent, utilities and other
		costs of the premises, their proportional shares are set forth as follows:
		<br>
		 Rent % Utilities%
		<ul style = "list-style:none;"> 
			<li>__________ __________: Housemate 1</li>
			<li>___________ __________: Housemate 2</li>
			<li>___________ __________: Housemate 3</li>
			<li>___________ __________: Housemate 4</li>
		</ul>
	</p>
<br>

<h2><b>SECURITY DEPOSIT and LAST MONTH’s RENT SECURITY DEPOSIT and LAST MONTH’s RENT</b></h2>
	<p>
		16. The housemates have paid the following amounts for the security deposit and
		last month’s rent; each shall be entitled to the use or return of his/her
		proportional share.
		<br>
		Security Deposit Last Month’s Rent
		<ul style = "list-style:none;"> 
			<li>Housemate 1 __________________ ______________________</li>
			<li>Housemate 2 __________________ ______________________</li>
			<li>Housemate 3 __________________ ______________________</li>
			<li>Housemate 4 __________________ ______________________</li>
		</ul>
		<br>
		Source: UMOCSS.org
	</p>
<br>

<h2><b>SIGNATURES SIGNATURES</b></h2>
	<p>
		We, the tenants of this property, acknowledge our understanding of this
		contract as well as its terms and conditions, by our signatures below. We agree
		to be bound by this agreement. We also understand that our complete
		agreement is contained within this agreement and our lease; no verbal
		agreements, statements, or understandings are included.
		<br>
		<ul style = "list-style:none;"> 
			<li>_________________________________, Housemate 1 Dated: __________________</li>
			<li>_________________________________, Housemate 2 Dated: __________________</li>
			<li>_________________________________, Housemate 3 Dated: __________________</li>
			<li>_________________________________, Housemate 4 Dated: __________________</li>
		</ul>
	</p>
