  <h1>IDENTIFYING SCAMMERS</h1>

<p>All of the individuals on this list claim to be coming to the University in a capacity other than as an undergraduate student.  Senders are becoming more skillful at constructing a plausible message.  They all, however, fit a pattern that's pretty easy to spot <strong><em>by looking at some of the examples below</em></strong>.  [Here's a recent sample] received by a student posting on Craigslist and forwarded by a parent.(http://www.umocss.org/files/SCAM%20Template.pdf)  If you feel unsure about the legitimacy of an inquiry, we suggest using these templates to frame your reply:  </p>

<h2>TEMPLATE 1: Send to those claiming to be UMASS GRAD STUDENTS:</h2>

<p><em>Thank you for your inquiry.  Please provide your UMass campus issued email address and/or contact information for your Academic Department.  I will need this information before we correspond further.  In the meantime, welcome to the University.</em>   </p>

<h2>TEMPLATE 2.  Send to all others claiming to have a UMASS AFFILIATION:</h2>

<p><em>Thank you for your inquiry.  Please provide the UMass campus issued email address for a UMass faculty or staff member with whom you have communicated. I will need this information before we correspond further.  In the meantime, welcome to the University.</em>  </p>

<h2>Forward "suspect" emails to <a href="tcostine@umass.edu">tcostine@umass.edu</a>.</h2>

<p>Consider reporting them to the <a href="http://www.ic3.gov/default.aspx">FBI Internet Crime Complaint Center.</a>  Emails labeled as <strong>REPEAT</strong> have been reported by multiple users on multiple occasions. </p>

<hr />

<p><strong>REPORTED IN JUNE 2015</strong></p>

<p>6/6/15:  <strong><em>biyu93@hotmail.com</em></strong> standard scam.    </p>

<p><strong>REPORTED IN MAY 2015</strong><br />
5/29/15: <strong><em>duncanjoy12@gmail.com</em></strong> this is a standard scam, asking questions that were clearly available in the listing.<br />
5/22/15: <strong><em>paulhartcares007@gmail.com</em></strong> claimed to be renting an apartment in the Boulders that doesn't exist.<br />
5/21/15: REPEAT OFFENDER (see 5/2/15) <strong><em>johanagry@gmail.com</em></strong>  ...My name is JOHANA HARPER, I'm a 24 years female from Canada...i will not be able to come and see the place due to distance..."<br />
5/2/15: <strong><em>johanagry@gmail.com</em></strong> 
Standard scam.  Asserting that the check will be sent by her boss, asking questions that are in the listing.  The "boss" is using this email address <strong><em>bellscontracting@gmail.com</em></strong> and this phone number for a "travel agent" 347-979-0514 who claims to be from Texas.  </p>

<p><strong>REPORTED IN APRIL 2015</strong><br />
4/27/15:REPEAT OFFENDER (See 4/4/15 below) <strong><em>bbl2walker@gmail.com</em></strong>  will send a check from 'her Dad' for more than amount owed.  There's no grad student fitting this decription at the University of Wisconsin-Madison.  This is a scam.<br />
4/14/15: <strong><em>littlearsenalgirl@hotmail.com</em></strong> usual scam asking for all the details found in the rental listing, individual calling themselves 'Cherry Adams'.  Reported by 3 different users.<br />
4/4/15: <strong><em>bbl2walker@gmail.com</em></strong>  writing as 'cristina walker' individual claims to be a grad student from University of Wisconsin-Madison doing an internship in Cuba.   </p>

<p><strong>REPORTED IN MARCH 2015</strong><br />
3/16/15: <strong><em>vhkfrench@gmail.com</em></strong> standard scam<br />
3/13/15: <strong><em>t.martyshchenko@gmail.com</em></strong> This individual is using the name of a real professor at Alabama University and a phone number with an Alabama exchange, however, on further investigation this is a scam.<br />
3/8/15:  <strong><em>fisherjessy8@gmail.com</em></strong>  Individual will send a certified check that the bank will identify as fraudulent.   </p>

<p><strong>REPORTED IN JANUARY 2015</strong><br />
1/29/15:  <strong><em>borislock82@gmail.com</em></strong> Despite all the life history details, this is definitely a scam.<br />
1/22/15: REPEAT OFFENDER (see 10/21/14 below) <strong><em>verary003@gmail.com</em></strong>  though the email is different it's the same individual claiming to be from France and coming here to do research.           </p>

<p><strong>REPORTED IN DECEMBER 2014</strong><br />
12/24/14: <strong><em>olubelloabosede@yahoo.com</em></strong> This happened to me personally.  The individual asserted she was "moving to U.S. with my little daughter" to get her MFA at UMass in costume design.  I used the email template, asked for contact information, she replied with fake information.  Thea Costine  </p>

<p>12/9/14: <strong><em>rosachan678@yahoo.com.hk</em></strong> standard scam who's going to have her "dad" send the money to you...  </p>

<p><strong>REPORTED IN NOVEMBER 2014</strong><br />
11/5/14: <strong><em>rebeccasswilliamsonon@gmail.com</em></strong><br />
11/6/14:  <strong><em>camillesportlady001@gmail.com</em></strong>  this individual is not coming to UMass to do cancer research.        </p>

<p><strong>REPORTED IN OCTOBER 2014</strong><br />
10/27/14:  <strong><em>fisherjessy8@gmail.com</em></strong><br />
10/21/14: REPEAT OFFENDER (see 9/25/13 below) <strong><em>veraryoo1@outlook.com</em></strong> though the email address is different it's the same individual.<br />
10/17/14:  <strong><em>camillesportlady001@gmail.com</em></strong><br />
10/17/14:  <strong><em>Baoyuchan1@hotmail.com</em></strong>  This individual is not pursuing a degree in Public Health at UMass "the prestigious university because of it's immense quality of the course package..."  Someone claiming to be this individual's father will send a check for more than you're owed asking you to wire excess funds through Western Union.          </p>

<p><strong>REPORTED IN AUGUST 2014</strong><br />
8/23/14: <strong><em>yinbibo@126.com</em></strong> ...I am a chinese man 35 years old. nice. quiet and easy going person...my wife and 5 years old daughter will come visit me..."  claims to be a visiting scholar.<br />
8/22/14:  REPEAT OFFENDER (see 8/20/14 below) <strong><em>XIAOJUN</em></strong><br />
8/20/14:  <strong>XIAOJUN</strong> We are unable to list the email address (only 'characters' appear).  This individual is not pursuing a degree in Nursing at UMass.  Someone claiming to be this individual's father will send a check for more than you're owed asking you to wire excess funds through Western Union.<br />
8/12/14:  REPEAT OFFENDER (see 8/7/14)  <strong><em>jennydreamlady@gmail.com</em></strong>  Sent a check for a sublet that was 10 times the amount required, with a story about a business associate who made a mistake.  This isn't real.<br />
8/7/14:  <strong><em>jennydreamlady@gmail.com</em></strong>  "Let me start with introducing myself and my need;My name Jennifer Martin,23 years female coming to University of Massachusetts Amherst to study Computer Science."  'She' then goes on to ask questions that are clearly stated in the listing.  There's no doubt that this is a scam.  </p>

<p><strong>REPORTED IN JULY 2014</strong><br />
7/7/14:  <strong><em>rebeccawilliamson0@gmail.com</em></strong>  How are you doing and hope every thing is fine... I will be coming for a research program in the state on Anthropology ...A little more about me, Friendly, outgoing, considerate, easygoing, very clean, and responsible... am from England,22yrs old.  </p>

<p>7/4/14:  <strong><em>katalyst601@gmail.com</em></strong> "My name is Katherine Sherman and am 25 years old and am from Maple, Ontario..."   </p>

<p><strong>REPORTED IN MAY 2014</strong><br />
5/23/14:  <strong><em>laura.hawley1@aol.com</em></strong>  Classic scam.  She asked for details that are in the listing, and her "Dad" is going to send a check.<br />
5/19/14:  <strong><em>katalyst601@gmail.com</em></strong>  My name is Katherine Sherman and am 24 years old, my father is a citizen of Philippines(Southeast Asia in the western Pacific Ocean) while my mom is from turkey and i lost her 2 years ago...am very a quiet, respectful and mature girl....  </p>

<p><strong>REPORTED IN APRIL 2014</strong><br />
4/1/14:  <strong><em>sweetisabella11@hotmail.com</em></strong>  How are you doing?Hope God is taking care of you and your family? I am Isabella by name from Manchester(UK) and i am coming for a Research in University of Massachusetts Amherst...</p>

<p><strong>REPORTED IN MARCH 2014</strong><br />
3/26/14:  <strong><em>sweetmariam11@hotmail.com</em></strong> How are you doing?Hope God is taking care of you and your family? I am Mariam by name from Mexico and i am coming for a Research in University of Massachusetts Amherst By April so i need a place to stay...   </p>

<p><strong>REPORTED IN FEBRUARY 2014</strong><br />
2/25/14: <strong><em>sweetisabella11@hotmail.com</em></strong> ...Hope God is taking care of you and your family? I am Isabella by name from Manchester(UK)... Merry Christmas and Happy New year...  </p>

<p><strong>REPORTED IN NOVEMBER 2013</strong><br />
11/18/13: <strong><em>elogantlady@gmail.com</em></strong>  My name Helen Smith,23 years female from Liverpool,I am coming to University of Massachusetts Amherst to study Organismic and Evolutionary Biology...   </p>

<p><strong>REPORTED IN SEPTEMBER 2013</strong><br />
9/25/13:  <strong><em>verary05@gmail.com</em></strong>  Am Vera am 23years old i lost my dad some years back when i was young so my mom had to remarry so she married to Mr Grant howelt who is my step dad now...<br />
9/24/13:  <strong><em>shdggfgfhgfpdjd@gmail.com</em></strong> Am Shelly and am 23years old i lost my dad some years back when i was young so my mom had to remarry so she married to Mr Marcus wilder...<br />
9/21/13:  <strong><em>martins.belinda11@yahoo.com</em></strong>    </p>

<p><strong>REPORTED IN JULY 2013</strong>
7/31/13:  <strong><em>brenie.cole@hotmail.com</em></strong>  Says her name is Brenda from Rhodes University of Cape Town<br />
7/31/13:  REPEAT OFFENDER (see 6/18/12 below) <strong><em>cynthia_mack05@hotmail.com</em></strong><br />
7/31/13:  REPEAT OFFENDER (see 4/28/12 below)   <strong><em>world_of_smile_2005@yahoo.com</em></strong>  </p>

<p><strong>REPORTED IN JUNE 2013</strong> 
6/27/13:  <strong><em>whdydklflf@gmail.com</em></strong>
6/27/13:  <strong><em>mor_bower111@yahoo.com</em></strong><br />
6/27/13:  <strong><em>askbucky@uwmad.wisc.edu</em></strong>  This is not a student from the University of Wisconsin, Madison.<br />
6/18/13: <strong><em>lor2barton@gmail.com</em></strong> "I am Ms Norma Nichols 26 Years, female, from Zurich,Switzerland..."</p>

<p>6/18/13: <strong><em>cheneenkimm12@gmail.com</em></strong> "I will be coming from China for a research program in the state" using the name Kim Chen
6/13/13:  REPEAT OFFENDER (see 6/18/12 below) <strong><em>cynthia_mack05@hotmail.com</em></strong>  This scammer goes by the name Cynthia Mack and claims to be from Manchester(UK)and a Researcher in Harvard University
6/18/13: <strong><em>scotley1@yahoo.com</em></strong>  using the name Scot Lawson and his daughter is using the name Jennifer Martin and her email address is <strong><em>jenny.mart01@hotmail.com</em></strong>
6/18/13: <strong><em>purerookx101@gmail.com</em></strong>  using the name James Dana and his daughter is using the name Sarah James and using the email address <strong><em>sarjams1011@gmail.com</em></strong>  Jennifer Martin says she is from United Arab Emirates and Sarah James is saying she is from Spain</p>

<p><strong>REPORTED IN MAY 2013</strong><br />
5/13/13:  REPEAT OFFENDER (see 9/3/12 below) <strong><em>tom204u@yahoo.com</em></strong>  This individual claims to be doing research at both UMass and WPI.  Clearly fraudulent.<br />
<strong>REPORTED IN APRIL 2013</strong><br />
4/21/13:  REPEAT OFFENDER (see 4/28/12 below)   <strong><em>world_of_smile_2005@yahoo.com</em></strong>
<strong>REPORTED IN MARCH 2013</strong><br />
3/12/13:  <strong><em>janeroland805@gmail.com</em></strong>  Classic scam.  Asserted she's part of the Eisenberg School of Management. "Father" (see below) sent a check for more than the amount owed and the check was fraudulent.<br />
3/12/13:  <strong><em>markrolly12@hotmail.com</em></strong>  This individual is posing as the "father" of janeroland805@gmail.  </p>

<p><strong>REPORTED IN FEBRUARY 2013</strong><br />
2/7/13:  <strong><em>mattdash12@yahoo.com</em></strong></p>

<p><strong>REPORTED IN JANUARY 2013</strong><br />
1/16/13:  <strong><em>rustiano101@mail.com</em></strong>   </p>

<p><strong>REPORTED IN SEPTEMBER 2012</strong><br />
9/20/12:  <strong><em>chenkim12@gmail.com</em></strong>  another of the usual suspects claiming to be doing research at UMass.<br />
9/3/12:  <strong><em>tom204u@yahoo.com</em></strong><br />
9/4/12:  <strong><em>saleh_rajha@mail.com</em></strong>   </p>

<p><strong>REPORTED IN AUGUST 2012</strong><br />
8/27/12:  <strong><em>godwillsarina200@yahoo.in</em></strong><br />
8/27/12:  <strong><em>vanesstucker@gmail.com</em></strong> claiming to write on behalf of Anastasia Williams.            </p>

<p><strong>REPORTED IN JULY 2012</strong><br />
7/27/12:  <strong><em>florystew@gmail.com</em></strong> Don't bother replying to this individual.  There's no doubt that it's a scam.  </p>

<p><strong>REPORTED IN JUNE 2012</strong><br />
6/21/12: REPEAT OFFENDER (see 12/9/11 below) <strong><em>kiokioloome@gmail.com</em></strong>  ...Well my name is Shelly.. i will be coming from China...<br />
6/18/12:  REPEAT OFFENDER. (multiple reports)  <strong><em>cynthia.mack111@hotmail.com</em></strong><br />
6/6/12:  <strong><em>rosiegeorge12@gmail.com</em></strong>  I am Rosie George and i am 22 years  old...I like to respect the rules of the  house. i don't do drugs or drink,and also a Christian...  </p>

<p><strong>REPORTED IN MAY 2012</strong><br />
5/16/12:  <strong><em>edwardpaul003@gmail.com</em></strong>  "My real name is Edward Mary, Female from Barcelona Spain,28,  I believe
in treating people as i would like to be treated..."<br />
5/16/12:  <strong><em>ayo.prince600@gmail.com</em></strong>  "My name is Mary Ann (F),I am 24yrsold,I am fun  loving, personal, friendly,clean and respectful of others..."<br />
5/16/12:  <strong><em>nicolles00021@gmail.com</em></strong>  "Your day was lovely i suppose, I am a female looking for somewhere to stay in your area..."<br />
5/16/12:  <strong><em>juliadfetyunmns10@gmail.com</em></strong>  "My name is Rose Ward (F) I am 27yrs old,I am fun  loving, personal, friendly,clean and  respectful of others. A non-smoker, don't do drugs, i drink  occasionally,and drama
free. I graduated last year in France..."<br />
5/16/12:  <strong><em>manatalynn12@gmail.com</em></strong>  "My name is Trina Harris (F),I am 27yrs old,I am  fun  loving, personal, friendly,clean and respectful of others. A  non-smoker, don't do drugs, i drink occasionally,and drama
free. I  graduated last year in France..."<br />
5/16/12:  REPEAT OFFENDER <strong><em>grace.martins111@gmail.com</em></strong>  "How are you doing?Hope God is taking care of you and your family? I am
Grace by name from Manchester(UK) and i am coming for a Research in University of Massachusetts Amherst..."<br />
5/14/12:  <strong><em>sarinagodwill371@yahoo.in</em></strong>     </p>

<p><strong>REPORTED IN APRIL 2012</strong><br />
4/28/12:  <strong><em>world_of_smile_2005@yahoo.com</em></strong>  "...I would love to view the place before renting but I'm not in town yet so tell me how to get the place secured before my arrival. Little about me, I'm 22 year from Washington DC, I have 1 sister and 2 brothers, neat, no overnight guest, no weed, I'm respectful and mind my own business..."  </p>

<p><strong>REPORTED IN MARCH 2012</strong><br />
3/23/12:  <strong><em>naomingiga20i2@yahoo.com</em></strong><br />
3/21/12: REPEAT OFFENDERS <strong><em>jvincent_001@yahoo.com</em></strong> and <strong><em>macks_fabrics@hotmail.com</em></strong>  Multiple reports about "Joy" and her "Father"<br />
3/21/12:  <strong><em>chenkim12@gmail.com</em></strong>  "...Well my name is Kim.. i will be coming from China for a research program in the state and i will need either ROOM/APT/HOUSE to stay when i get there..."<br />
3/20/12:  <strong><em>lglg8201@gmail.com</em></strong>  "...i am Vera by name,from France coming to United state for some research program and studying of international relation..."<br />
3/13/12:  <strong><em>whdydklflf@gmail.com</em></strong>  "Well my name is Shelly.  i will be coming from China for a research program in the state..."  </p>

<p><strong>REPORTED IN FEBRUARY 2012</strong><br />
2/28/12:  REPEAT OFFENDER (See 4/29/10 below.)  <strong><em>cynthiamack01@hotmail.co.uk</em></strong>  Also note: <strong><em>macksprivatefabrics@googlemail.com</em></strong> this is "her father".<br />
2/28/12:  <strong><em>catherine_parker@ymail.com</em></strong><br />
2/9/12:  <strong><em>lrngllrm9@gmail.com</em></strong>   "...Am very happy to hear that the place is available...But the issue is that because of the distance i wont be able to come down to see the place...I will want you to send me some pics so that i can forward it to my step dad..."<br />
2/9/12:  REPEAT OFFENDER (See 1/19/12) <strong><em>jvincent_001@yahoo.com</em></strong>  "How are you doing?Hope God is taking care of you and your family? I am Joy by name from Manchester(UK) and i am coming for a research in University of Massachusetts Amherst By March so i need a place to stay. A little about me. I  am 28 years old,i gentle..."    </p>

<p><strong>REPORTED IN JANUARY 2012</strong><br />
1/31/12:  <strong><em>hfhfssllsjs@gmail.com</em></strong>  "...am Shelly and am 23years old i lost my dad some years back when i was young so my mom had to remarry so she married to Mr Marcus wilder who is my step dad now..<br />
1/19/12:  <strong><em>jvincent_001@yahoo.com</em></strong><br />
1/19/12:  <strong><em>hfhfssllsjs@gmail.com</em></strong> </p>

<p><strong>REPORTED IN DECEMBER 2011</strong><br />
12/12/11:  <strong><em>candanturkkan@gmail.com</em></strong><br />
12/9/11:  <strong><em>kiokioloome@gmail.com</em></strong>  ...my name is Shelly.  i will be coming from China for a research program in the state...    </p>

<p><strong>REPORTED IN NOVEMBER 2011</strong><br />
11/18/11:  <strong><em>verryvera4love@gmail.com</em></strong>  "i am Vera by name,from France coming to United state for some research program and studying of international relation..."  </p>

<p><strong>REPORTED IN OCTOBER 2011</strong><br />
10/24/11:  REPEAT OFFENDER (see 10/6/11)<br />
<strong><em>amanda.pittss@yahoo.com</em></strong>  This is not a legitimate inquiry, nor is the inquiry from the "parents"  <strong><em>jamesandsarahpitts@yahoo.com</em></strong>.  Any check sent is fraudulent.  Report to bank and local police.<br />
10/13/11:  REPEAT OFFENDER (see 9/19/11)<br />
<strong><em>frankwhite10003@aol.com</em></strong>  This individual is NOT a member of the U.S. Armed Services stationed in Iraq.<br />
10/6/11:  <strong><em>amanda.pittss@yahoo.com</em></strong>  I'm 25 year from Washington DC, I have 1 sister and 2 brothers, neat, no overnight guest, no weed...  </p>

<p><strong>REPORTED IN SEPTEMBER 2011</strong><br />
9/26/11:  <strong><em>amanda.pittss@yahoo.com</em></strong>  I'm 25 year from Washington DC, I have 1 sister and 2 brothers, neat, no overnight guest, no weed...<br />
9/19/11:  <strong><em>FrankWhite1100@gmail.com</em></strong>  This individual is NOT a member of the U.S. Armed Services stationed in Iraq.<br />
9/9/11:  <strong><em>marygoldkimudi@yahoo.com</em></strong>  Compliments of the day!  How are you? hope you are doing well, I am Marygold, A lovely and decent girl, I saw your contact details at website...<br />
9/9/11:  <strong><em>cisseaminata@pobox.sk</em></strong>  Donation For God's Work.  I am Mrs.Mrs Favour Philips from Kuwait. I am married to Mr.Solomon Philips. who worked with Kuwait embassy here in Ivory Coast for nine good year 
before he died in the year 2008... This individual is looking for money.   </p>

<p><strong>REPORTED IN AUGUST 2011</strong><br />
8/25/11:  REPEAT OFFENDER (see 12/15/10)<br />
<strong><em>mariamscott2010@yahoo.com</em></strong>  How are you doing?Hope God is taking care of you and your family? I 
am Mariam by name from Manchester(UK) and i am coming for a Research in University of Massachusetts Amherst By September...<br />
8/11/11:  <strong><em>s_kenzoh@yahoo.com</em></strong><br />
8/8/11:  <strong><em>nomvuyo_makana@yahoo.com</em></strong><br />
8/8/11:  <strong><em>marydavid165@att.net</em></strong><br />
8/8/11:  <strong><em>maryanderson1979@aol.com</em></strong><br />
8/4/11:  REPEAT OFFENDER (see May 2011)    <strong><em>jessicabenson00@yahoo.com</em></strong>  </p>

<p><strong>REPORTED IN JULY 2011</strong><br />
7/28/11:  <strong><em>tancheelan022@att.net</em></strong><br />
7/27/11:  <strong><em>ljs435@yahoo.com</em></strong>  </p>

<p><strong>REPORTED IN JUNE 2011</strong><br />
6/16/11:  <strong><em>t.altintoch01@gmail.com</em></strong> This individual claims to be working for a United Nations organization and is offering to send a check for a full year's rent in advance.  It's not legit.<br />
6/16/11:  <strong><em>ed_19000@hotmail.com</em></strong>  How are you doing today... Here is a little info about myself. I am Emily Dylan and I'm 27 years old...<br />
6/14/11:  <strong><em>martintaggart@live.com</em></strong> This individual sent a "bank check" as payment for the entire value of his daughter's lease, then reported that his daughter had been in an auto accident and asked for the return of the payment. The original "bank check" bounced.  </p>

<p><strong>REPORTED IN MAY 2011</strong><br />
5/30/11:  <strong><em>jessicabenson00@yahoo.com</em></strong>  My names are Jessica Benson.I'm a 23yrs of age female student coming from UK, Scotland, ...  <strong>This individual is going to tell you that her Father will be paying her rent.  It's a scam.  Don't bother to reply.</strong><br />
5/12/11:  <strong><em>bakerpaul590@gmail.com*</em></strong>  </p>

<p><strong>REPORTED IN MARCH 2011</strong><br />
3/28/11:  <strong><em>aviva_00@att.net</em></strong><br />
3/25/11:  <strong>"Cynthia Mack"</strong> and <strong>"her Dad"</strong> have been reported by several of you.  These are not legitimate inquiries.  </p>

<p><strong>REPORTED IN FEBRUARY 2011</strong><br />
2/22/11:  <strong><em>vivian_smith83@yahoo.com</em></strong><br />
2/22/11:  REPEAT OFFENDER <strong><em>cynthiamack_05@yahoo.com</em></strong>  "She's" been reported here multiple times and usually has a "father" who's going to come up with the money.<br />
2/9/11:  <strong><em>rose_edds01@yahoo.com</em></strong>  Sometimes she's "Rose", sometimes she's "Sandra".  Either way this individual is not a legitimate inquiry.<br />
2/8/11:  <strong><em>ken.todd@rocketmail.com</em></strong>  My name is Ken Todd from United Kingdom. I am interested in your room for rent and i am willing to have it for my 23yrs daughter who just got through with her college in Uk and just gained admission to study in Usa...  </p>

<p><strong>REPORTED IN JANUARY 2011</strong><br />
1/4/11:  <strong><em>bout.laura@att.net</em></strong>   name is Laura i am happy to contact you here with all my heart...  </p>

<p><strong>REPORTED IN DECEMBER 2010</strong><br />
12/28/10:  <strong><em>christana.porche@yahoo.com</em></strong><br />
12/21/10:  REPEAT OFFENDER  <strong><em>anna.krone001@yandex.ua</em></strong><br />
12/21/10:  <strong><em>martintaggartinc@live.com</em></strong> This is the same individual that appears below on 12/8/10.  The scam remains, only the email address is different.<br />
12/15/10:  <strong><em>mariamscott2010@gmail.com</em></strong>  How are you doing?Hope God is taking care of you and your family? I am
Mariam by name from Manchester(UK)<br />
12/14/10:  REPEAT OFFENDER <strong><em>robinson@mail.med.upenn.edu</em></strong> and <strong><em>anna.krone002Ayandex.ru</em></strong><br />
We were contacted by the owner of a B&amp;B in the village of Coleraine in Northern Ireland who reported this individual who previously represented "herself" as being from Scotland.  She's actually from the Ukraine.<br />
12/8/10:  <strong><em>ppate221@aol.com</em></strong><br />
12/8/20:  <strong><em>vh81571@gmail.com</em></strong> Another "Vera" who's 23 years old whose Mom remarried...<br />
12/8/10:  <strong><em>granthowelt@yahoo.com</em></strong> will represent himself as "Vera's step dad"<br />
12/8/10:  <strong><em>martintaggart@live.com</em></strong>  This individual represents himself as the "father" of <strong><em>patriciataggart45@gmail.com</em></strong> a REPEAT OFFENDER reported below.<br />
12/1/10:  <strong><em>anna.krone@yandex.ru</em></strong> My name is Anna krone, a 23 yr old female...   </p>

<p><strong>REPORTED IN NOVEMBER 2010</strong><br />
11/30/10:  <strong><em>drectly:0102m1@att.net</em></strong> and <strong><em>yangmikel@centrum.sk</em></strong>  ...An arab made a fixed deposit of $4,500.000.00 in my bank branch where am a director and he died with his entire family in the war leaving behind no next of kin,if you choose to stand as my deceased client's next of kin...<br />
11/30/10:  <strong><em>vh81571@gmail.com</em></strong>  ...,i am Vera by name,from France coming to United state for some research program and studying of international relation...<br />
11/23/10:  REPEAT OFFENDER <strong><em>patriciataggart45@gmail.com</em></strong>  I`m an incoming transfer student studying geology...i will be moving to State as soon as i leave here (SCOTLAND).
Please contact me if the rent is still available, preferably through my email address<br />
11/23/10:  <strong><em>patriciataggart45@gmail.com</em></strong>  I am 23yr old girl...will be coming by 15th of Next month for my master program...I am currently in Scotland...i don't drink alcohol and i am a christian...i want you to get back to me with the following information so that payment could be mail out to you ...<br />
11/12/10:  <strong><em>evira.sadiku01@rediffmail.com</em></strong>  I am miss Evira Sadiku , 21 years old from ivory coast... So i seek your permission to remit this amount to your country... I have decided and accepted to offer you 20% of the total sum for your desire to assist me.</p>

<p><strong>REPORTED IN OCTOBER 2010</strong><br />
10/28/10:  <strong><em>joanmack01@yahoo.co.uk</em></strong>   How are you doing?Hope God is taking care of you and your family? I am Joan by name from Manchester(UK) and i am coming for a Research in University of Massachusetts Amherst By December 1st...<br />
10/27/10:  <strong><em>gurld8rluvsu5710@aol.com</em></strong>  My name is Serenity Small. I am sending this e-mail to inquire about an apartment you have for rent in (City)...<br />
10/25/10:  <strong><em>chrstbllnds@gmail.com</em></strong>  i am Karina by name,from France coming to United state for some research program and studying of international relation...<br />
10/21/10:  <strong><em>karry4real@gmail.com</em></strong>  i am Karina by name,from France coming to United state for some research program and studying of international relation...<br />
10/21/10:  <strong><em>granthowelt@yahoo.com</em></strong>  representing himself as the step father of Karina above.<br />
10/21/10:  <strong><em>leorajudah@yahoo.com</em></strong>  I am Leora, how are you doing today... my Dad will be responsible with the payment of rent for my period of stay...<br />
10/19/10:  REPEAT OFFENDER <strong><em>mikefarebooking@consultant.com</em></strong>  see 10/7/10<br />
10/7/10:  <strong><em>omikymicheal@yahoo.co.uk</em></strong> Presents as seeking housing for international families taking "Arts and Crafts" classes.   </p>

<p><strong>REPORTED IN SEPTEMBER 2010</strong><br />
9/2/10:  REPEAT OFFENDER <strong><em>a.melson1@yandex.ru</em></strong><br />
"Purpose of coming to your country is that I lost my fiancee of recent and my life has been totally upside down... </p>

<p><strong>REPORTED IN AUGUST 2010</strong><br />
8/31/10: REPEAT OFFENDER (See 3/3/10 below)  <strong><em>a.melson1@yandex.ru</em></strong>  I saw your ad . my name is alexandra melson, a 23 yr old female.  I would be needing a place to reside during my stay in your country and I will like to have your place...<br />
8/23/10: <strong><em>sarah.simpson74@gmail.com</em></strong><br />
I am interested in your rental listing....I am 23 year old,single and nice....Thank you and God bless you.<br />
8/12/10:  <strong><em>bobby_fisher@live.com</em></strong><br />
...I just want to let you know that my son's payment was delivered to you today with tracking number...<br />
8/12/10:  <strong><em>fisherjames501@gmail.com</em></strong><br />
The alleged "son" of "bobby_fisher" just above.<br />
8/11/10:  <strong><em>jamespatton000ju@hotmail.co.uk</em></strong><br />
8/10/10:  REPEAT OFFENDER <strong><em>viviansmith1983@yahoo.com</em></strong><br />
8/5/10:  <strong><em>viviansmith1983@yahoo.com</em></strong><br />
How are you doing?Hope God is taking care of you and your family? I am Vivian by name from Manchester(UK) and i am coming for a Research in University of Massachusetts Amherst By September 2010....<br />
8/2/10:  <strong><em>karinagrant001@hotmail.com</em></strong><br />
It is my pleasure to write you this note,i am Karina by name,from France coming to United state for some research program and studying of international relation...  </p>

<p><strong>REPORTED IN JULY 2010</strong><br />
7/29/10: <strong><em>taras316@yandex.ua</em></strong><br />
My name is vicka Taras, a 23 yr old female (reportedly from the Ukraine, coming here to get over a broken heart)...<br />
7/16/10: <strong><em>lilian123yao@yahoo.co.jp</em></strong><br />
My name is Lilian Yao, I am 20 years old girl this year I am from the Ivory coast and I lost my parents...<br />
7/12/10:  <strong><em>mourenahmed@rediffmail.com</em></strong><br />
My name is Moureen Ahmed a young girl from Ivorie...  </p>

<p><strong>REPORTED IN APRIL 2010</strong><br />
4/29/10:  REPEAT <strong><em>cynthiamack01@hotmail.co.uk</em></strong><br />
4/29/10:  REPEAT <strong><em>macksprivatefabrics@googlemail.com</em></strong><br />
Alleged "father" of Cynthia Mack.<br />
4/28/10:  <strong><em>osmac2b_2002@yahoo.com</em></strong>  My name is Laura...<br />
4/16/10:  <strong><em>summer4uni@aol.com</em></strong>
My name is Summer Hopkins .am 22 and will be 23 in October. I am doing my internship and research work in Cyprus  and will be back in a month for my masters degree....  I will also like to know if I can make an advance payment ahead my arrival that will be stand as a kind of commitment that I am truly coming over to rent the place which will also serve as a collateral for you to hold the place for me, upon my arrival to move in.</p>

<p><strong>REPORTED IN MARCH 2010</strong><br />
3/15/10:  <strong><em>sharondirks1980</em></strong><br />
3/11/10:  <strong><em>sharondirks1980@live.com</em></strong><br />
...Please confirm the delivery of the deposit.I need to get something sorted.  Let me know you got the check in your mailbox or in front of your door.<br />
3/8/10:  <strong><em>ashleyking776@gmail.com</em></strong><br />
I am 21 years coming over to study from London in the UK and i will be very happy if i can have the place secured. All the bills will be taken care of by my parents.<br />
3/4/10: <strong><em>angelakendrick@rocketmail.com</em></strong><br />
My name is Angela, I'm a 21-year-old and I am coming to University of Massachusetts Amherst...<br />
3/4/10:  <strong><em>princelectronicsltd_02@hotmail.com</em></strong><br />
Allegedly "Martins Scott" the stepfather of Angela<br />
3/3/10:  <strong><em>a.melson1@yahoo.com</em></strong><br />
"my name is Alexsandra Melson  , a 23 yr old female .... I would like to move in by the 15th of mar. 2010 ." 
3/1/10:  <strong><em>bizevaluationserviceinc@gmail.com</em></strong>
Allegedly a renter named Miss Sharon Dirks from England  </p>

<p><strong>REPORTED IN JANUARY 2010</strong><br />
1/7/10:  <strong><em>susanbaily01@yahoo.com</em></strong><br />
1/3/10:  <strong><em>susanpasek@gmail.com</em></strong>  </p>

<p><strong>REPORTED IN DECEMBER 2009</strong><br />
12/30/09:  <strong><em>roynurnberg@yahoo.com</em></strong><br />
Allegedly the father of "stefan"
12/30/09:  <strong><em>stefannurnberg@gmail.com</em></strong><br />
I am 22 years old girl coming from Dublin in Ireland...<br />
12/27/09:  <strong><em>dikesmith44@gmail.com</em></strong><br />
Seeking housing for 6 newly ordained priests from Greece.  </p>

<p><strong>REPORTED IN OCTOBER 2009</strong><br />
10/26/09:  <strong><em>jvincent_001@yahoo.com</em></strong><br />
How are you doing?Hope God is taking care of you and your family? I am Joy by name from Manchester(UK)  </p>

<p><strong>REPORTED IN SEPTEMBER 2009</strong><br />
9/23/09: <strong><em>renmmanu1@richsaloon.com</em></strong><br />
I'm Mrs Reny Manuel, the wife of late Mr.Donjon Manuel former Chief financial adviser to the President during President Joseph Estrada regime in Philippine.<br />
9/23/09:  <strong><em>mrslydia.marcus1955@apnamultan.com</em></strong><br />
I am Mrs Lydia marcus From Ivory Coast,i will like to know more of you so that i will entrust my hope on you about my late husband wishes... 
9/23/09: <strong><em>lydiamarcus1955@yahoo.com.hk</em></strong><br />
9/9/09:   <strong><em>jasdiop_11@msn.com</em></strong> "Justine"<br />
9/9/09:  <strong><em>jsa_5013@msn.com</em></strong>  "Justine"<br />
9/9/09:  <strong><em>inadiop42@yahoo.com.hk</em></strong> "Justine's father/uncle".  </p>

<p><strong>PREVIOUSLY REPORTED</strong><br />
cynthiamack01@hotmail.co.uk<br />
macks<em>fabrics@hotmail.com<br />
jamessmithcrat@yahoo.com<br />
smithmelly1976@googlemail.com<br />
harrisonlorraine@ymail.com<br />
hel</em>smith@yahoo.co.uk<br />
johnsonkomah@voila.fr<br />
ednajohn007@gmail.com<br />
julswelsh@gmail.com<br />
3rd report 9/3/09: lindabergin7@yahoo.com<br />
reported 8/15/09: bob_hopskin001@yahoo.com<br />
reported 8/17/09: smithm77@rocketmail.com</p>