<h1>Service Expectations</h1>
	<p>
		Exceptions to what you see here will be noted in a gray box in the middle of the homepage.
	</p>

<h2>MON - THU</h2>
	<p>
		Acknowledgment of voice and email messages sent in 24 hours.
		Rental listing status acknowledgment sent same day if submitted by 12pm.
		Housemate/Tenant Profiles posted the same day if submitted by 7pm.
	</p>

<h2>FRI</h2>
	<p>
		Acknowledgment of voice and email messages sent next business day. Rental listing status acknowledgment sent same day if submitted by 12pm, otherwise sent during weekend. Housemate/Tenant Profiles posted the same day if submitted by 7pm, otherwise posted during the weekend.
	</p>

<h2>SAT and SUN</h2>
	<p>
		Rental listings and Profiles will be posted at least once each weekend. Rental listings and Profiles that cannot be posted will be acknowledged the next business day. Other communications submitted on Saturday and Sunday will be acknowledged by the end of the day Tuesday.
	</p>
	