<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.min.css" %> 
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="<%=asset_path "" %>" media="screen">
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

<h1>Frequently Asked Questions for Student Tenants</h1>

<p><b> Q: Is living off campus for me? </b></p>
A. Check out this handy resource Best Choice for Me.

<p><b>Q: What is the Living Off Campus Certification?</b></p>
A. An online tool for a heads-up on rental applications, off campus housing costs, landlord/tenant rights and responsibilities & more! It's recommended or required by landlords and the University, and it only takes about 20 minutes to complete. Register or sign-in to www.umocss.org and click the big red Living Off Campus Certification button. Landlords can verify completion online and you're all set.

<p><b>Q: How do I search for places to rent?</b></p>
A. Find rentals on the Off Campus Student Services website www.umocss.org. to find rentals. All listed properties are vetted by a University staff member. Use this guide to do an effective search using the Off Campus Student Services website. Narrow your search with your personal needs - proximity to campus, pets, parking, etc. Use other rental search sites like CraigsList with caution - there are many reported scams.

<p><b>Q: Want to live in an apartment community like Puffton or Rolling Green?</b></p>
A. For the current semester: Search for shared or vacant apartments with the number of bedrooms you need. Select the unit type Apartment in a Complex, select a complex from the list, and select the move-in date ASAP. Here are extra search tips.

A. For next semester: Early is always better. Search for vacant or shared apartments with the number of bedrooms you need. Download the application and other required forms directly from the apartment community website. Staff will take your application materials and begin the qualification process, often including a check of your UMass Conduct record. Some apartment communities will not consider an application from a prospective tenant with a current Conduct sanction. If you have questions about this contact the Dean of Students Office.Once you've been qualified, you'll be assigned a unit and staff will notify you. Here are more search tips.

<p><b> Q: Can I see an apartment?</b></p>
A. A few apartment communities like Mill Valley Estates in South Amherst have model units. Ask.

<p><b>Q: Prefer to live in a traditional neighborhood?</b></p>
A. For the current semester search for shared or vacant rentals with the number of bedrooms you need. How many cars will you have? Check the Unit Types house, or apartment in a house/small building. Here are more search tips.

A. For next semester do a search for vacant or shared rentals with the number of bedrooms you need. Pay attention to the number of parking spots. Here are more search tips.

<h2>Housemates</h2>

<p><b>Q: How do I find a housemate?</b></p>
A. Search the Housemate/Tenant Profiles and look at the Profiles of others who are looking for housemates.
A. You can also submit your own Housemate/Tenant Profile. Are you a vegan? Do you want to share food expenses? Will you live sustainably? Are you noisy? Will you live with someone who smokes? Others will see your Profile and contact you.

<p><b>Q: How do my housemates and I get off on the right foot together?</b></p>
A. Get together and discuss things like overnight guests, parties, cleaning, studying, pets, sharing food. Use our checklist as a conversation starter.

<p><b>Q: What other housemate things should I think about?</b></p>
A. The Off Campus Student Life Coordinators made a short video of things they wish they'd known before they moved in with housemates.

<p><b>Q: Should we sign a Housemate Contract?</b></p>
A. Yes. It's a good idea to put your agreements in writing. You can use this Housemate Agreement.

<p><b>Q: I need to talk to my housemates about money. Can you help?</b></p>
A. Conversations about money can be awkward. This short video might help.

<h2> Moving In </h2>

<p><b> Q. What should I pack? </b></p>
A. Most kitchens have limited storage, so avoid bringing duplicates. Here's a general list of what to pack that might help.

<p><b>Q: I just paid a Security Deposit. What happens to my money?</b></p>
A. Massachusetts Landlord/Tenant law specifies how landlords must handle your security deposit. If they don't follow the law, they may forfeit the right to keep it. Read this article called Security Deposits A-Z. If you need more information contact the Student Legal Services Office.

<p><b>Q. What is renter's insurance? Where can I get it?</b></p>
A. When you rent, your landlord's insurance usually only protects the building. For about $15-$20 a month, renter's insurance helps make sure you can replace your belongings like electronics, clothing, furniture and other valuables. Renter's insurance also includes personal liability coverage in case someone is injured while visiting you and you're held liable. If your parents carry a homeowner's policy, check the terms and determine what their policy will cover. Read more...

<p><b>Q. What do I do about utilities that aren't included in my rent? </b></p>
A. Contact that utility directly to set up your service. It's important to do it as early as possible. Off Campus Student Center staff made this short video.

<p><b>Q. How do I get internet and cable off campus?</b></p>
A. Comcast/Xfinity provides cable and internet services to residences in Amherst. Free installation is available through the local representative.

<h2> Moving Out </h2>

<p><b>Q. How do I get my Security Deposit back?</b></p>
A. Leave your place 'broom clean'. That can mean different things to different landlords so check with the Student Legal Services Office if you have questions like; Do I have to paint? What if I leave nail holes? or any other question about the security deposit.

<p><b>Q. When will I get my Security Deposit back?</b></p>
A. Landlords have 30 days to return your deposit. If they don't do it in 30 days, you may be entitled to receive three times the amount. Read this article called Security Deposits A-Z. If you need more information contact the Student Legal Services Office.

<h2> Leases and Subleases </h2>

<p><b>Q: What makes a lease legal?</b></p>
A. At a minimum, a lease must have what's called a 'term' which means a start or move-in date, and an end or move-out date. It must also state who is responsible for paying which utilities. The Student Legal Services Office will review your lease if you have questions. It's free!

<p><b>Q. How long is a lease?</b></p>
A. Usually 12 months, they typically start in June or September, and there are exceptions.

<p><b>Q. What if I don't want to sign a Lease?</b></p>
A. Some landlords offer month-to-month rentals called Tenancies-at-Will. Instead of signing a Lease you sign a Rental Agreement. A month-to-month tenancy allows you and your landlord to end the tenancy by giving proper notice. If you have questions about being a month-to-month tenant, check with the Student Legal Services Office.

<p><b>Q. What's a sublet?</b></p>
A. When you give up your rental to someone temporarily, it's referred to as a sublet. Your sub-lessee pays you and you pay rent to the landlord. Check your lease to see if it's allowed and definitely talk to your landlord before you do this! It can be complicated, so it's a good idea to check-in with the Student Legal Services Office before you sublet.

<p><b>Q. How do I get someone to take over my lease permanently?</b></p>
A. You'll do a lease assignment. Check-in with the Student Legal Services Office if you have questions about the process.

<p><b>Q: How do I find someone to sublet or take over my lease?</b></p>
A. Go to www.umocss.org Select Housemates/Tenants, then Search Profiles.

<p><b>Q: What does 'joint and severally liable' mean?</b></p>
A. It refers to a shared responsibility for rent. You and your housemates are each independently liable to the landlord for the whole rent. The landlord can collect the entire amount from any or all of you.

<p><b>Q: What does it mean to have a lease guarantor?</b></p>
A. Another term for guarantor is co-signer. Your guarantor agrees to meet your financial obligations to your landlord if you don't. Since leases are usually 'joint and several' it means that your guarantor is liable for the entire amount of unpaid rent, not just for your share of the rent.

<h2> More About Living Off Campus </h2>

<p><b>Q. What do I do about recycling and trash?</b></p>
A. Here's what you'll do in the Town of Amherst. Your town may be different. Ask your landlord.

<p><b>Q: I'd like to save money by living sustainably. Can you help?</b></p>
A. Here are some tips that will help you reduce your costs and maybe save the planet.

<p><b>Q: How can I be a good neighbor?</b></p>
A. All towns follow state laws. All towns have by-laws which cover things like noise, and the number of people that can live together. Here are some of the By-laws in the Town of Amherst. If you don't live in Amherst, check ask your landlord or the Town Office.

<p><b>Q. What else do I need to know about living in Amherst?</b></p>
A. Here's what the Town of Amherst wants you to know.

<p><b>Q. I'm going away over break. What should I do about the heat?</b></p>
A. The general rule is to never lower your thermostat below 55 degrees Fahrenheit. Lower than that and there's a chance pipes could freeze and burst, do significant damage, and cost you lots of money. You really don't want to go through that!

<h2> Money and Finances </h2>

<p><b>Q: Will moving off campus change the amount of my financial aid? Is there paperwork I should do?</b></p>
A. No. There is no financial aid paperwork to complete. There will be no changes to your financial aid if you move off campus. Financial Aid will be posted to your Bursar account like always.

<p><b>Q: How do I pay rent using financial aid?</b></p>
A. Use SPIRE to sign up for Excess Express. If you have excess financial aid it will be deposited into that bank account. Most landlords will require you to pay rent by writing checks against that account. Some apartment communities allow you to pay rent online.

<p><b>Q: What if I don't get my refund right away?</b></p>
A. If you're getting a refund, the earliest refunds are issued the first day of classes. Lots of factors can impact when you get your excess financial aid. For more information check with Financial Aid Services.

<p><b>Q. I'm moving off campus and got billed for on campus housing. What do I do?</b></p>
A. Contact Residential Life Student Services as soon as possible.

<p><b>Q. How do I make sure I've budgeted the right amount of money?</b></p>
A. Here are links to some resources that might help you answer the question. Budgeting Essentials, 31 Days of Saving, and the UMass Five Budget Worksheet
