<!DOCTYPE html>
<html>

  <body>
  <div class="home-wrapper"
    <div class="loc_buttons">
  
      <div class="row">
        
        <div class="col-md-4">
          <a href="http://owl.oit.umass.edu/partners/umocss/"><img src="<%=asset_path "loc_take.png" %>" alt="Take the Training"></a>
        </div>

        <div class="col-md-4">
          <a href="#"><img src="<%=asset_path "loc_verify.png" %>" alt="Verify Loc Training"></a>
        </div>

         <div class="col-md-4">
          <a href="https://owl.oit.umass.edu/owl-c/demo/demologin.cgi?Server=owl-trainingdemo"><img src="<%=asset_path "loc_guest.png" %>" alt="Guest Access"></a>
        </div>
      </div>
        </div>
   

      <div id="whitespace">
      </div>
  </div>
</body>