

$width-small: 500px;
$width-medium: 800px;
$width-lowres: 960px;
$width-highres: 1080px;
$width-hd: 1250px;
$width-large: 1360px;

$maroon: #881c1c;
/* Darkest to Lightest */
$gray1: #333;
$gray2: #666;
$gray3: #999;
$gray4: #aaa;
$gray5: #ccc;
$gray6: #eee;
$coolgray: #63666a;
$warmgray:  #aca39a;

$tan1: #beb395;
$tan2: #dbd3ba;
$tan3: #ece9d4;

/* Blues */

$blue1: #003b5c;
$blue2: #5b7f95;
$blue3: #5b7f95;

$green1: #b3b995;
$green2: #76881d;

$violet1: #5d2a2c;
$violet2: #41273b;

$gold: #c69214;

$orange1: #b86125;
$orange2: #a8431e;
